<h1>Welcome to the Check-In Process</h1>

<p>Over the past 2 weeks, how often have you been bothered by any of the following problems?</p>

<%= form_for(:check_in, url: check_ins_path) do |f| %>
  <%= f.submit "Start check in" %>
<% end %>
